/*navbar y footer*/
.navbar.navbar-inverse {
    background-color:#8A0808;
    color:white;
}
#footer {
    background-color: #8A0808;
    color: #fff;
    padding: 30px;
}
#footerDesign {
    background-color: #510606;
    color: #fff;
    padding-left: 30px;
}
#footerDesign p {
    margin-bottom:0px;
}

/*carousel*/
.carousel-inner{
    height:500px !important;
}
.carousel-indicators li {
    background-color:#510606;
    border-color:#510606;
}
.carousel-indicators .active {
    background-color:#DF0101 !important;
}

/*CARDS*/
.card {
    width:300px !important;
}
.card-img-top {
    height:200px !important;
    width:300px !important;
}
.card-block{
    padding-left: 35px;
    padding-right: 35px;
}
.card-deck .card{
    margin:35px !important;
}

.card .card-content {
    padding: 10px;    
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;    
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
    font-size: 15px;
    color: #ffab40;
    text-transform:uppercase;
    margin-right: 20px;    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card .card-action a:hover{    
    color:#ffd8a6;
    text-decoration:none;
}

.card .card-reveal{    
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-reveal p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
}


.card .card-content {
    position: relative;
}

.show-btn{
    margin-bottom:5px !important;
}

/*BOOSTRAP**/
.carousel-inner > .item > img {
    margin: 0 auto;
}

/*ICONO MERCADOLIBRE*/
.fa-mercadolibre-square:before {
  content: url(../Imagenes/mercadolibreicon.png);
}

/*BARRA LOADER*/
.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background-color: #f55549;
}

.progress{
    height:15px;
}