<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="jennifer karcevas">

    <link rel="apple-touch-icon" sizes="57x57" href="~/Imagenes/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Imagenes/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Imagenes/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Imagenes/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Imagenes/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Imagenes/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Imagenes/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Imagenes/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Imagenes/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Imagenes/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Imagenes/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Imagenes/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Imagenes/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Imagenes/favicon/manifest.json">

    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Colchones BEKAR</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ripples.min.css">
    <!--FONTAWESOME MAIN STYLE -->
    <link href="../Content/font-awesome.css" rel="stylesheet" />
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!--CUSTOM STYLE -->
    <link href="../Content/style.css" rel="stylesheet" />
    <link href="~/Content/overrides.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Views/Index">COLCHONERIA BEKAR</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Views/Index">Home</a></li>
                    <li><a href="/Views/Nosotros">Nosotros</a></li>
                    @*<li><a href="/Views/Productos">Productos</a></li>*@
                    <li>
                        <div class="dropdown show">
                            <a class="btn dropdown-toggle dropdown-link" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Views/Productos#productosColchones">Colchones</a>
                                <a class="dropdown-item" href="/Views/Productos#productosAlmohadones">Almohadones</a>
                                <a class="dropdown-item" href="/Views/Productos#productosFundas">Fundas</a>
                                <a class="dropdown-item" href="/Views/Productos#productosTelas">Telas</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="/Views/Contacto">Contacto</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->
    @RenderBody()
    <div class="space-bottom"></div>

    <!--END HOME SECTION -->
    <!--FOOTER SECTION -->

    <div id="footer">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <hr />
                <h4>Colchones Bekar</h4>
                <p>1946 - 2019</p>
                <p>Argentina - Buenos Aires</p>
            </div>
            <div class="col-md-3 col-sm-3">
                <hr />
                <h4>Siguenos: </h4>
                <p>
                    <a href="https://www.facebook.com/demarmile/?fref=ts"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                    <a style="display:flex;" href="https://articulo.mercadolibre.com.ar/MLA-659146652-fabrica-de-colchones-artesanales-de-futones-y-almohadones-_JM?quantity=1"><i class="fa fa-mercadolibre-square"></i></a>
                </p>
                <br>
            </div>
        </div>
    </div>
    @*<div id="footerDesign">
        <div class="row">
            <div>
                <p>Designed  by: Jennifer Karcevas</p>
            </div>
        </div>
    </div>*@

    <!--END FOOTER SECTION -->

    <!-- CORE JQUERY LIBRARY -->
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/esm/popper-utils.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <!-- CORE BOOTSTRAP MATERIAL LIBRARY -->
    <script src="~/Scripts/material.js"></script>
    <script src="~/Scripts/ripples.js"></script>

    <!-- CUSTOM SCRIPT-->
    <script>
        $(document).ready(function () {
            $.material.init()
        });

    </script>

</body>
</html>
