
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="section">
    <div class="container">


        <div class="row main-low-margin">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <h1><br /><br /></h1>
                <div id="divCentered">SOBRE NOSOTROS</div>
            </div>
        </div>


    </div>
</div>

<div class="container">
    <div class="row main-low-margin ">

        <div class="col-md-8 col-sm-8">
            <h3>COLCHONERIA KARCEVAS</h3>
            <p>
                Somos una empresa familiar creada en 1946 y pasada por generaciones hasta la actualidad, brindando la mejor atencion y calidad desde siempre.
            </p>
            <p>
                Nos avalan los años de antiguedad y excelencia en el rubro, somos 3 generaciones de colchoneros dedicandonos a la fabricacion artesanal de colchones y almohadones.
            </p>
            <p>
                Ofrecemos fundas ajustables para divanes, almohadones para sillones de algarrobo, colchones de futon, entre mas opciones para su bienestar.
            </p>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-circle img-responsive" src="~/Imagenes/colchon_divan.jpg" style="width:365px;">
        </div>
    </div>
    <div class="row main-low-margin ">
        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-circle img-responsive" src="~/Imagenes/futon_letras.jpg" style="width:365px;">
        </div>
        <div class="col-md-8 col-sm-8">
            <h3>OBJETIVO:</h3>
            <p>
                Nuestro objetivo es brindarle la mejor atencion y calidad.
            </p>
            <p>
                Para eso contamos con las mejores materias primas y una atencion personalizada.
            </p>
        </div>

    </div>
</div>
<div class="space-bottom"></div>