
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="section">
    <div class="container">


        <div class="row main-low-margin">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <h1><br /><br /></h1>
                <div id="divCentered">Nuestros Productos</div>
            </div>
        </div>


    </div>
</div>


<div class="container">

    <h2 id="productosAlmohadones">Almohadones</h2>
    <div class="card-deck">

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/02.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Almohadon algarrobo</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="3">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="3">
                <span class="card-title">Informacion</span> <button type="button" class="close" data-rel="3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Dimensiones:</strong>
                    <ul>
                        <li>50x50</li>
                    </ul>
                </p>
                <p><strong>Relleno:</strong> Algodon</p>
                <p>
                    <strong>Caracteristicas:</strong> 
                    Relleno con copos de espuma, Alta densidad, Algodon desfibrado, Cierre lateral
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->
    </div>
    
    <h2 id="productosTelas">Telas</h2>
    <div class="card-deck">

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/3.JPG">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="4">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="4">
                <span class="card-title">Informacion</span> <button type="button" class="close" data-rel="4" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p><strong>Colores:</strong>
                <ul>
                    <li>Blanco</li>
                    <li>Beige</li>
                    <li>Gris Claro</li>
                    <li>Blanco Oscuro</li>
                    <li>Verde Militar Oscuro</li>
                    <li>Verde Militar Claro</li>
                    <li>Mostaza</li>
                    <li>Naranja</li>
                    <li>Bordo</li>
                    <li>Rojo</li>
                    <li>Violeta</li>
                    <li>Rosa</li>
                    <li>Verde</li>
                    <li>Azul</li>
                    <li>Azul Marino</li>
                    <li>Pregunte por otros colores!</li>
                </ul>
                </p>

            </div><!-- card reveal -->

        </div><!-- card -->
        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/4.JPG">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Eco Cuero"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="5">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="5">
                <span class="card-title">Informacion</span> <button type="button" class="close" data-rel="5" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Gama blancos</li>
                        <li>Gama marrones</li>
                        <li>Gama rojos</li>
                        <li>Gama negros</li>
                        <li>Celeste</li>
                        <li>Pregunte por otros colores!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/5.JPG">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Chenille"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="6">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="6">
                <span class="card-title">Informacion</span> <button type="button" class="close" data-rel="6" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Azul</li>
                        <li>Verde Militar claro</li>
                        <li>Naranja</li>
                        <li>Rojo</li>
                        <li>Mostaza</li>
                        <li>Negro</li>
                        <li>Beige</li>
                        <li>Marron Claro</li>
                        <li>Pregunte por otros colores!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/1.JPG">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Gabardina Dibujos"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="7">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="7">
                <span class="card-title">Informacion</span> <button type="button" class="close" data-rel="7" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores/dibujos!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/2.JPG">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Eco Cuero Estampada"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="8">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="8">
                <span class="card-title">Informacion</span> <button type="button" class="close" data-rel="8" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores/estampas!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

    </div>


</div>
<div class="space-bottom"></div>

<script>
    $(function () {

        $('.show-btn').on('click', function () {
            //$('.card-reveal').slideToggle('slow');
            $('div.card-reveal[data-rel=' + $(this).data('rel') + ']').slideToggle('slow');
        });

        //$('.card-reveal .close').on('click', function () {
        //    $('.card-reveal').slideToggle('slow');
        //});
        $('.card-reveal .close').on('click', function () {
            $('div.card-reveal[data-rel=' + $(this).data('rel') + ']').slideToggle('slow');
        });
    });
</script>