
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="section">
    <div class="container">


        <div class="row main-low-margin">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <h1><br /><br /></h1>
                <div id="divCentered">Nuestros Productos</div>
            </div>
        </div>


    </div>
</div>


<div class="container">

    <h1 class="color-darkred" id="productosColchones">Colchones</h1>
    <div class="card-deck">

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/01.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Colchones de Futon Clasico</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="colchon1">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="colchon1">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="colchon1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Medidas:</strong>
                    <ul>
                        <li>3 Cuerpos: 140 x 190</li>
                        <li>2 Cuerpos: 140 x 140 + Piecera de 140 x 150</li>
                        <li>1 Cuerpo: 80 x 140 + Piecera de 80 x 50</li>
                    </ul>
                </p>
                <p><strong>Relleno:</strong> Algodon desfibrado y copos de poliester</p>
                <p>
                    <strong>Caracteristicas:</strong>
                    Botones forrados en la misma tela o compose
                </p>
                <p>
                    <strong>Telas:</strong>
                    <ul>
                        <li>Gabardina</li>
                        <li>Chennile</li>
                        <li>Ecocuero</li>
                        <li>Talampaya</li>
                        <li>Leblon</li>
                        <li>Alumine</li>
                        <li>Pana</li>
                    </ul>
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/colchon-futon-negro-rojo.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Colchones de Resortes Clasico</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="colchon2">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="colchon2">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="colchon2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Medidas:</strong>
                    <ul>
                        <li>3 Cuerpos: 140 x 190</li>
                        <li>2 Cuerpos: 140 x 140 + Piecera de 140 x 150</li>
                        <li>1 Cuerpo: 80 x 140 + Piecera de 80 x 50</li>
                    </ul>
                </p>
                <p><strong>Relleno:</strong> Resortes biconicos forrados c/tela no tejida y guata de alta densidad. Relleno de algodon desfibrado natural y copos de poliester</p>
                <p>
                    <strong>Caracteristicas:</strong>
                    Costuras reforzadas, cierre completo, botones forrados en la misma tela o a eleccion.
                </p>
                <p>
                    <strong>Telas:</strong>
                    <ul>
                        <li>Gabardina</li>
                        <li>Chennile</li>
                        <li>Ecocuero</li>
                        <li>Talampaya</li>
                        <li>Leblon</li>
                        <li>Alumine</li>
                        <li>Pana</li>
                    </ul>
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div id="myCarousel2" class="card-image carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel2" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" style="height:100% !important;" role="listbox">
                    <div class="item active">
                        <img class="card-img-top img-responsive" src="~/Imagenes/DSCN0774.JPG">
                    </div>
                    <div class="item">
                        <img class="card-img-top img-responsive" src="~/Imagenes/DSCN0776.JPG">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Colchones de Futon Resorte Duo</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="colchon3">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="colchon3">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="colchon3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Medidas:</strong> 2 colchones individuales 190 x 070 x 025 cada placa
                </p>
                <p><strong>Relleno:</strong> Resortes biconicos super deluxe recubiertos c/Placa de poliester alta densidad</p>
                <p>
                    <strong>Terminacion:</strong>
                    Sin botones y con funda desmontable, si se requiera botones son a eleccion
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/futon_guatambu_3_c_con_resortes_2_thumb3.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Colchones de Divan Resorte</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="colchon5">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="colchon5">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="colchon5" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Medidas:</strong> 80 x 190 x 20
                </p>
                <p><strong>Relleno:</strong> Resortes biconicos forrados.</p>
                <p>
                    <strong>Caracteristicas:</strong>
                    Viene con 2 almohadones rellenos de copos de poliester y algodon desfibrado.
                    Base de colchon realizada en madera forrada con una placa de poliester y guata, con patas de maderas torneadas.
                </p>
                <p>
                    <strong>Telas:</strong>
                    <ul>
                        <li>Rustica</li>
                        <li>Sarga de algodon</li>
                        <li>Arpillera natural</li>
                    </ul>
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div id="myCarousel1" class="card-image carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                    <li data-target="#myCarousel1" data-slide-to="2"></li>
                    <li data-target="#myCarousel1" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" style="height:100% !important;" role="listbox">
                    <div class="item active">
                        <img class="card-img-top img-responsive" src="~/Imagenes/DSCN0959.JPG">
                    </div>
                    <div class="item">
                        <img class="card-img-top img-responsive" src="~/Imagenes/DSCN0962.JPG">
                    </div>
                    <div class="item">
                        <img class="card-img-top img-responsive" src="~/Imagenes/DSCN0964.JPG">
                    </div>
                    <div class="item">
                        <img class="card-img-top img-responsive" src="~/Imagenes/DSCN0969.JPG">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Colchones y almohadones artesanales en arpillera y otros tipos de tela</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="colchon6">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="colchon6">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="colchon6" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Medidas:</strong> Todas las medidas, consulte para mas información.
                </p>
                <p><strong>Relleno:</strong> Algodon desfibrado natural y copos de poliester, botones forrados en la misma tela o a eleccion.</p>
            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/colchon_divan.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Colchones artesanales desde 1946 Clasico o Resortes</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="colchon7">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="colchon7">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="colchon7" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Medidas:</strong> 80 x 190 x 20
                </p>
                <p><strong>Relleno:</strong> Manta de algodon y copos de poliester.</p>
                <p>
                    <strong>Caracteristicas:</strong>
                    Terminado totalmente a mano, burleteado como los antiguos colchones de lana, botones capitone en la misma tela.
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div id="myCarousel" class="card-image carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div  class="carousel-inner" style="height:100% !important;" role="listbox">
                    <div class="item active">
                        <img class="card-img-top img-responsive" src="~/Imagenes/posicion1.jpg">
                    </div>
                    <div class="item">
                        <img class="card-img-top img-responsive" src="~/Imagenes/posicion2.jpg">
                    </div>
                    <div class="item">
                        <img class="card-img-top img-responsive" src="~/Imagenes/posicion3.jpg">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Colchones Futon Blosson Convertible en sofa cama chelsong</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="colchon8">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="colchon8">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="colchon8" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Medidas:</strong> 67cm Ancho x 2M largo x 15cm altura
                </p>
                <p><strong>Relleno:</strong> Algodon desfibrado y copos.</p>
                <p>
                    <strong>Caracteristicas:</strong>
                    Botones en la misma tela, clasico o de resortes. Ambos vienen con 2 almohadones rellenos de copos y algodon desfibrado.
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

    </div>


    <h1 class="color-darkred" id="productosAlmohadones">Almohadones</h1>
    <div class="card-deck">


        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/alm.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Almohadones</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="alm1">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="alm1">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="alm1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Dimensiones:</strong>
                    <ul>
                        <li>50x50</li>
                        <li>60x60</li>
                    </ul>
                </p>
                <p><strong>Relleno:</strong> Algodon</p>
                <p>
                    <strong>Caracteristicas:</strong>
                    Relleno con copos de espuma, Alta densidad, Algodon desfibrado, Cierre lateral
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->


        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/alm_estilocampo.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Almohadon para Juego Living, estilo campo</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="alm2">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="alm2">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="alm2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Dimensiones:</strong>
                    <ul>
                        <li>50x50</li>
                        <li>60x60</li>
                    </ul>
                </p>
                <p><strong>Relleno:</strong> Algodon</p>
                <p>
                    <strong>Caracteristicas:</strong>
                    Relleno con copos de espuma, Alta densidad, Algodon desfibrado, Cierre lateral
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

    </div>


    <h1 class="color-darkred" id="productosFundas">Fundas</h1>
    <div class="card-deck">


        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/colchon_divan_cama_2alm.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Fundas ajustables con 2/3 almohadones</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="funda1">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="funda1">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="funda1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Caracteristicas:</strong>
                    Con cierre perimetral en tres de sus lados para una facil colocacion
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/fundas_ajustables.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Fundas para futones</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="funda2">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="funda2">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="funda2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Caracteristicas:</strong>
                    Con cierre perimetral en tres de sus lados para una facil colocacion
                </p>
            </div><!-- card reveal -->
        </div><!-- card -->

    </div>
    
    <h1 class="color-darkred" id="productosTelas">Telas</h1>
    <div class="card-deck">
        
        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/ecocuero_2.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Eco Cuero Colores lisa"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela1">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela1">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Marfil</li>
                        <li>Blanco</li>
                        <li>Manzana</li>
                        <li>Turquesa</li>
                        <li>Celeste</li>
                        <li>Rosa</li>
                        <li>Neutral</li>
                        <li>Sahara</li>
                        <li>Rojo</li>
                        <li>Naranja</li>
                        <li>Fucsia</li>
                        <li>Maiz</li>
                        <li>Kaki</li>
                        <li>Piscina</li>
                        <li>Mostaza</li>
                        <li>Amarillo</li>
                        <li>Negro</li>
                        <li>Francia</li>
                        <li>Violeta</li>
                        <li>Bordo</li>
                        <li>Marino</li>
                        <li>Chocolate</li>
                        <li>Ladrillo</li>
                        <li>Gris</li>
                        <li>Pregunte por otros colores!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/ecocuero_dibujado.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Eco Cuero Estampada"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela2">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela2">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores/estampas!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/cuero_ecologico_circulo.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Eco Cuero Estampada Circulos"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela3">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela3">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores/estampas!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/leblon.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Leblon"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela4">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela4">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela4" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores/diseños</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/talampaya.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Talampaya"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela5">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela5">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela5" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores/estampas!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/pana.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Pana"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela6">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela6">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela6" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p><strong>Colores:</strong>
                <ul>
                    <li>Blanco</li>
                    <li>Beige</li>
                    <li>Gris Claro</li>
                    <li>Blanco Oscuro</li>
                    <li>Verde Militar Oscuro</li>
                    <li>Verde Militar Claro</li>
                    <li>Mostaza</li>
                    <li>Naranja</li>
                    <li>Bordo</li>
                    <li>Rojo</li>
                    <li>Violeta</li>
                    <li>Rosa</li>
                    <li>Verde</li>
                    <li>Azul</li>
                    <li>Azul Marino</li>
                    <li>Pregunte por otros colores!</li>
                </ul>
                </p>

            </div><!-- card reveal -->

        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/pana_labreada.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Pana Labrada"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela10">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela10">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela10" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->

        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/chennile.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Chenille"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela7">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela7">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela7" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Azul</li>
                        <li>Verde Militar claro</li>
                        <li>Naranja</li>
                        <li>Rojo</li>
                        <li>Mostaza</li>
                        <li>Negro</li>
                        <li>Beige</li>
                        <li>Marron Claro</li>
                        <li>Pregunte por otros colores!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        <div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/alumine liso.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Allumine liso"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela8">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela8">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela8" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Pregunte por otros colores!</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->

        @*<div class="card">
            <div class="card-image">
                <img class="card-img-top img-responsive" src="~/Imagenes/Telas/gabardina.jpg">
            </div><!-- card image -->
            <div class="card-content">
                <span class="card-title">Telas "Gabardina"</span>
                <button type="button" class="btn btn-danger btn-raised btn-fab btn-fab-mini pull-right show-btn" data-rel="tela9">
                    <i class="fa fa-info"></i>
                </button>
            </div><!-- card content -->
            <div class="card-reveal" data-rel="tela9">
                <span class="card-title">Información</span> <button type="button" class="close" data-rel="tela9" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p>
                    <strong>Colores:</strong>
                    <ul>
                        <li>Negro</li>
                        <li>Francia</li>
                        <li>Violeta</li>
                        <li>V.Militar</li>
                        <li>Chocolate</li>
                        <li>Marino</li>
                        <li>Bordo</li>
                        <li>Blanco</li>
                        <li>Manzana</li>
                        <li>Naranja</li>
                        <li>Maiz</li>
                        <li>Rojo</li>
                        <li>Fucsia</li>
                        <li>Terracota</li>
                        <li>Crudo</li>
                        <li>Kaki</li>
                    </ul>
                </p>

            </div><!-- card reveal -->
        </div><!-- card -->*@

    </div>


</div>
<div class="space-bottom"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.show-btn').on('click', function () {
            //$('.card-reveal').slideToggle('slow');
            $('div.card-reveal[data-rel=' + $(this).data('rel') + ']').slideToggle('slow');
        });

        //$('.card-reveal .close').on('click', function () {
        //    $('.card-reveal').slideToggle('slow');
        //});
        $('.card-reveal .close').on('click', function () {
            $('div.card-reveal[data-rel=' + $(this).data('rel') + ']').slideToggle('slow');
        });
    })

</script>