
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="section">
    <div class="container">


        <div class="row main-low-margin">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <h1>Our Services</h1>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </h5>
            </div>
        </div>


    </div>
</div>

<div class="container">
    <div class="row main-low-margin text-center">
        <div class="col-md-4 col-sm-4">
            <div class="circle-body"><i class="fa fa-flask fa-5x  icon-set"></i></div>
            <h3>TESTED DESIGN</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body"><i class="fa fa-bell-o fa-5x  icon-set"></i></div>
            <h3>EASY TO CUSTOMIZE</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body"><i class="fa fa-edit fa-5x  icon-set"></i></div>
            <h3>WELL DOCUMENTED</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>

    </div>
    <div class="row main-low-margin ">

        <div class="col-md-8 col-sm-8">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
            <div class="circle-body"><i class="fa fa-desktop fa-5x  icon-set"></i></div>
            <h3>TESTED DESIGN</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>
    </div>


</div>
<div class="space-bottom"></div>